
@media screen and (max-width: 1048px) {
    .nav-button {
        display: none;
        }

    #icon-menu {
    display: block;
    padding-left: 16px;
    }


    #get-started {
        display: none;
    }

    #image-heading {
        aspect-ratio: auto;
    }


}

@media screen and (max-width: 950px) {
    .col-small-bottom {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .plan-3d-text {
        align-self: center;
        text-align: left;
    }

    #construction-bottom {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 768px) {

    div.line-blue {
        top: 144px;
    }

    #get-started {
        display: none;
    }

    #image-heading {
        aspect-ratio: 9/10;
    }

    .col-small-bottom {
        flex-direction: column-reverse;
        align-items: center;

    }

    .plan-3d-text, .plans-text {
        align-self: center;
        text-align: left;
    }

    .reversible {
        flex-direction: column-reverse;
        align-items: center;
        background: var(--background-light-gray);
        margin: 0 8px;
    }
    .expand {
        width: 100%;
        margin: 0 8px;
    }
    #v3-wrapper {
        padding: 0;
    }

    .title {
        font-size: 40px;
        font-weight: 400;
    }

    /* about us  */

    #about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #about-us .section-body {
        display: block;
        gap: 32px;
    }


    #location-image img{
        max-width: 600;
        align-self: flex-end;
    } 

    #address {
        display: flex;
        justify-content: flex-end;
        top: 150;
        left: -160;
        
    }

    #address .paragraph.title.bold {
        text-align: right;
        padding-right: 16px;
        /* border: 1px solid red; */
        font-weight: bold;
         
    }     
}



@media screen and (max-width: 600px) {

     /* html, body { 
        min-width: 760px;
        
    } */
    
    nav {
        padding-right: 16px;
    }

    #menu #icon-menu {
        padding-left: 2px;
    }

    #image-heading {
        aspect-ratio: 9/10;
        
    }

    .image-heading {
        min-height: 0;
        /* align-items: flex-start; */
    }

    #we, .list-horizontal {
        font-weight: 400;
    }
    
    #construction-top {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #construction-image-1 {
        display: flex;
        width: 100%;
        /* border: 1px solid black; */
        min-width: 650px;
    }

    .text-card {
        /* border: 1px solid black; */
        align-self: center;
        align-items: flex-start;
    }

    .text-card .get-started {
        margin-left: 16px;
    }

    .footer-wrapper {
        flex-direction: column;
        align-items: center;
    }
    
    #teem {
        display: none;
    }

    footer ul {
        border-right: black
    }

    .paragraph, .list {
        font-size: 32px;
    }

    textarea#client-message {
        /* width: 95%; */
        align-self: center;
        font-size: 38px;
        min-width: 500px;
        padding: 8px;
    }

    #booking {
        min-width: 600px;
    }

    .list {
        /* border: 1px solid black; */
        align-self: left;
        margin-left: 16px;
    }

    #services-body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    input.submit {
        font-size: 32px;
        padding: 4px 24px;
        min-width: 200px;
    }

    a.get-started {
        
        font-size: 40px;
        padding: 8px 24px;
        min-width: 200px;
    
    }

    .paragraph {

        min-width: 480px;
        /* border: 1px solid red; */
        
    }

    .plan-3d-text, .highlights-text, .text-card {
        min-width: 500px;
    }


    .small {
        padding-left: 16px;
    }

    .contact-elements {
        flex-wrap: nowrap;
        padding-left: 0;
        padding-right: 0%;
        
    }


    nav {
        justify-content: space-evenly;
    }
    nav > #logo {
        padding-right: 8px;
        min-width: 280px;
    }

    #contacts .contact-elements {
        font-size: 24px;
        
    }

    .contact-element#email {
        padding-right: 0;
        padding-left: 4px;
    }


    input.input-text, footer {
        font-size: 24px;
    }

    #services-footer > .paragraph > a {
        text-transform: uppercase;
    }

    .designer.text-white {
        padding-left: 20px;
    }

    a > svg {
        background-color: transparent;
    }

      input#client-phone, input#client-email {
        font-size: 40px;
        border-bottom: solid 1px white;
        min-width: 550px;

    }

     input#location, input#client-contact {
        font-size: 40px;
        border-bottom: solid 1px var(--light-blue);
        min-width: 550px;

    }


    .contacts-wrapper {
        min-width: fit-content;
        flex-basis: 600px;
    }


    label {
        font-size: 32px;
    }

    .title#title-message-box, .title#booking-title {
        text-transform: uppercase;
        font-size: 32px;
    }

    #message > form {
        min-width: 90%;
    }

    form#booking-form {
        display: flex;
        flex-direction: column;
        max-width: 450px;
    }

    .more > a {
        min-width: 250px;
    }

    .more > a > svg.arrow-more {
        padding: 8px 0px 8px 32px;
        border: 1px solid var(--light-blue);
        border-radius: 40px;
        min-width: 200px;
        width: 200px;
        height: 80px;
    }

    .more > a > svg > polyline {
        stroke-width: 4px;
    }

    .more > a > svg > line {
        stroke-width: 4px;
    }

    form#contact-form, form#booking-form { 
        max-width: fit-content;
        /* flex-basis: 600px; */
    }

    .date-time-wrapper {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }

    .menu-item > a {
        font-size: 28px;
    
    }

    .menu-content {
        margin-right: 16px;
    }

    div.big-text.italic {
        font-size: 32px;
    }

    div.line-blue {
        top: 144px;
    }

    div#contacts-title.title {
        font-size: 32px;
    }

    span.paragraph.xpr {
        font-size: 24px;
    }
}




.more > a > svg {
    padding: 8px 0px 8px 16px;
    border: 1px solid var(--light-blue);
    border-radius: 16px;
    min-width: 120px;
}


section#highlights {
    padding: 8px;
}


a.get-started {
    margin-left: 8px;
}


/* about us page */

@media screen and (max-width: 600px) {

    #location-image img{
        max-width: 600;
    }

    #address {
        display: flex;
        justify-content: flex-end;
        left: -220;
        top: 120px;
        
    }

    #address .paragraph.title.bold {
        text-align: right;
        padding-right: 32px;
        /* border: 1px solid red; */
         
    }  

    #team-members .section-body.wrap {
        flex-direction: column;
        /* min-width: 500px; */
    }

    .avator img, .info {
        max-width: 450px;
    }

    .info {
        font-size: 32px;
        width: 100%;
        min-width: 450px;
    }


    .info, .member {
        width: 100%;
        border: 1px solid blue;
    }

    .info > .info-element, .info {
        font-size: 32px;
        width: 100%;
        /* min-width: 450px; */
    }
}


/* projects */
@media screen and (max-width: 600px) {

   .title.bold {
    font-weight: bold;
   }
}
