
@media screen and (max-width: 1048px) {
    .nav-button {
        display: none;
        }
    #icon-menu {
    display: block;
    padding-left: 16px;
    }

    .contact-element {
        font-size: 24px;
    }

    #get-started {
        display: none;
    }

    #image-heading {
        aspect-ratio: auto;
    }


}


@media screen and (max-width: 768px) {
    #get-started {
        display: none;
    }

    #image-heading {
        aspect-ratio: 9/10;
    }

    .col-small-bottom {
        flex-direction: column-reverse;
        align-items: center;

    }

    .plan-3d-text, .plans-text {
        align-self: center;
        text-align: left;
    }

    .reversible {
        flex-direction: column-reverse;
        align-items: center;
        background: var(--background-light-gray);
        margin: 0 8px;
    }
    .expand {
        width: 100%;
        margin: 0 8px;
    }
    #v3-wrapper {
        padding: 0;
    }

    .title {
        font-weight: 400;
    }

    .paragraph {
        font-size: 24px;
    }
}



@media screen and (max-width: 500px) {
    #image-heading {
        aspect-ratio: 9/10;
        
    }

    .image-heading {
        min-height: 0;
        /* align-items: flex-start; */
    }

    
    #construction-top {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #construction-image-1 {
        display: flex;
        width: 100%;
        border: 1px solid black;
        min-width: 650px;
    }

    .text-card {
        /* border: 1px solid black; */
        align-self: center;
    }

    .footer-wrapper {
        flex-direction: column;
        align-items: center;
    }
    
    #teem {
        display: none;
    }

    footer ul {
        border-right: black
    }

    .paragraph, .list {
        font-size: 24px;
    }
}



